/Trevor/node_modules
/Trevor/package-lock.json
/Trevor/.env
/IntegrationServer/node_modules
/IntegrationServer/package-lock.json
/IntegrationServer/.env
/IntegrationServer/token.json
/TestGmailServer/TestGmailServer/node_modules
/TestGmailServer/TestGmailServer/package-lock.json
/IntegrationServer/database.sqlite3
/IntegrationServer/config.json
